.custom-quill .ql-editor {
  margin-top: 3.4vh;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 2.9vh;
  letter-spacing: -0.2px;
  line-height: 3.3vh;
  z-index: 1;
}

.custom-quill .ql-editor h2 {
  font-size: 1.7em;
  font-weight: 500;
}
